<form action="<%= url %>?_method=DELETE " method="POST">
  <button type="submit" onclick="return confirm('Vous êtes sure?');" class="btn-delete">
    <i class="icon-trash text-danger"></i>
  </button>
</form>
