<script src="js/script.js"></script>
<!--Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer-content flex">
      <div class="footer-content-text">
        <div class="logo">
          <img src="../images/logo.png" alt="" />
        </div>
        <p>49, Avenue Imam Moslim, Dradeb</p>
        <p>Tel: 08 08 58 16 84</p>
        <h5>Horaire de travail</h5>
        <p>7/7 de 10:00AM à 11:00PM</p>
      </div>
    </div>
    <div class="footer-info flex">
      <div class="social-media">
        <a href="https://www.facebook.com/Restaurantadham/" target="_blank">
          <i class="icon-facebook"></i>
        </a>
        <i class="icon-instagram"></i>
        <i class="icon-whatsapp"></i>06 68 88 55 22
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="services">Services</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div></div>
</footer>
