<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Veney découvrir adham restaurant et a cuisine vous surprendra par ses multiples recettes : foie , poissons, brochettes, viandes, poulet, salades, sandwichs, dessert .... Nous vous garantissons une cuisine de qualité grâce à notre savoir-faire et notre chef cuisinier"
    />
    <meta
      name="keywords"
      content="restauarnt, tanger, poissons, sandwich, dessert, couscous"
    />
    <meta name="author" content="nesma aboki" />
    <link rel="stylesheet" href="../css/fontello.min.css" />
    <link rel="stylesheet" href="../css/utilities.min.css" />
    <link rel="stylesheet" href="../css/main-styles.min.css" />
    <title><%= page_title %></title>
  </head>
  <body>
    <%-body%>
  </body>
</html>
