<div class="container-404">
  <div class="content-404">
    <div class="image-404"></div>
    <h3>Page Non Trouver</h3>
    <a href="/" class="btn btn-primary">Aller à la page d'accueil</a>
  </div>
</div>
