body {
  background-color: #eef0f8;
}

i {
  margin-right: 10px;
}

.header-section {
  width: 100%;
  height: 350px;
  background: url('../images/dash-bg.jpg') no-repeat center;
  background-size: cover;
}

.header-section .navbar {
  background-color: transparent;
  padding: 1.5rem;
}

.header-section .navbar::after {
  display: none;
}

.dashboard.container {
  max-width: 1200px;
  margin-top: -230px;
  height: auto;
  position: relative;
}

.dashboard-title {
  color: #fff;
}

.dashboard-title h1 {
  font-weight: var(--fw-bold);
}

.dashboard-title p {
  font-size: var(--fs-regular);
}

#nav-toggler {
  position: absolute;
  top: 0;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.burger-menu {
  display: inline-block;
  height: 2px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 4px;
  background-color: #fff;
  transition: all 0.3s;
}

.burger-menu:before,
.burger-menu:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}

.burger-menu:before {
  top: -10px;
}

.burger-menu:after {
  top: 10px;
}

#nav-toggler.change .burger-menu {
  background: transparent;
}

#nav-toggler.change .burger-menu:before {
  top: 0;
  transform: rotate(45deg);
}

#nav-toggler.change .burger-menu:after {
  top: 0;
  transform: rotate(135deg);
}

.main {
  margin-top: 2rem;
  transform: translateY(-620px);
  transition: 0.3s ease-in-out;
}

.main.slide {
  transform: translateY(0);
}

/*///// Dashboard side menu /////*/
.side-menu {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  margin: 40px 0;
  transform: translateX(120%);
  transition: 0.3s ease-in-out;
}

.side-menu.show {
  transform: translateX(0%);
}

.side-menu-title,
.side-menu ul {
  padding: 2rem;
  font-weight: var(--fw-bold);
}

.side-menu-title {
  border-bottom: 3px solid var(--admin-secondary-color);
}

.list-item {
  padding: 20px 0;
}

.icon-cog {
  color: var(--admin-secondary-color);
}

.icon-google {
  color: var(--admin-primary-color);
}

.icon-user {
  color: var(--primary-color);
}

.icon-group {
  color: #ff5506;
}

.icon-food {
  color: #70e404;
}

.icon-logout {
  color: #e60023;
}

.side-menu i {
  padding: 10px;
  margin-right: 10px;
  background-color: #eef0f8;
  border-radius: 5px;
}

.list-item a {
  font-size: var(--fs-regular);
}

.list-item a:hover {
  color: var(--admin-primary-color);
}

.list-item a.active {
  color: var(--admin-primary-color);
}

/*///// Dashboard main section /////*/
.box {
  font-size: var(--fs-normal);
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 40px;
}

.box br {
  display: none;
}

.dishes-details ul {
  columns: 2;
  list-style-position: inside;
  list-style-type: disc;
}

/*/// Pagination ///*/
.pagination {
  width: 280px;
  margin: 0 auto;
  margin-top: 30px;
}

.pagination a {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: var(--light-color);
  font-weight: var(--fw-bold);
  transition: 0.3s;
}

.pagination a:hover {
  background-color: var(--dark-color);
}

.pagination a.active {
  background-color: var(--admin-primary-color);
  color: #fff;
}

.pagination a.disabled {
  display: none;
}

.pagination i {
  margin: 0;
  font-size: 0.9rem;
}

/*//// User area ////*/
.main h5 {
  margin-bottom: 1.5rem;
}

hr {
  border: 1px solid #eef0f8;
}

form {
  margin-top: 2.5rem;
  max-width: 37rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-row input,
.form-row select {
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 20rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--light-color);
  border: none;
}

.form-row input:focus,
.form-row select:focus {
  background-color: var(--dark-color);
  outline: none;
}

.form-row label,
.form-row input,
.form-row select {
  font-size: var(--fs-regular);
}

.form-row label {
  font-weight: var(--fw-bold);
}

.form-row select option {
  padding: 2rem 3rem;
}

.form-row-bottons {
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.upload-box {
  display: none;
}

.team-input-avatar {
  background: url('../images/avatar.png') no-repeat left top;
}

.team-input-dish {
  background: url('../images/dish-avatar.jpg') no-repeat left top;
}

.input-file-wrapper {
  width: 20rem;
  height: 120px;
  background-size: 35%;
  justify-self: flex-start;
  border: 4px solid #fff;
  border-radius: 5px;
  position: relative;
}

.input-file-wrapper img {
  display: none;
}

#avatar-preview.show,
#dish-preview.show {
  display: block;
  width: 110px;
  height: 110px;
}

.input-file-wrapper .upload-label {
  position: absolute;
  top: -0.9rem;
  left: 5.5rem;
}

.input-file-wrapper i {
  font-size: 1rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem 0.5rem var(--dark-color);
  color: var(--dark-color);
  cursor: pointer;
}

.checkbox-wrapper {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-wrapper .check {
  width: 2.5rem;
  height: 1.2rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--dark-color);
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s;
  cursor: pointer;
  outline: none;
}

.checkbox-wrapper .check:checked {
  background-color: var(--admin-primary-color);
}

.checkbox-wrapper .check::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  transform: scale(1.2);
  border-radius: 50%;
  background-color: var(--light-color);
  transition: 0.3s;
}

.checkbox-wrapper .check:checked::before {
  left: 1.5rem;
}

/*/// Team area ////*/
.main-header.flex {
  justify-content: space-between;
}

.main-header .btn-admin {
  margin-top: -1.5rem;
}

.main table img {
  width: 50px;
  height: 50px;
}

table {
  font-size: var(--fs-regular);
  text-align: left;
  font-weight: var(--fw-bold);
  width: 100%;
  margin-top: 1.75rem;
}

table form {
  margin-top: 0;
}

thead {
  background-color: var(--admin-primary-color);
  color: #fff;
}

th {
  padding: 0.25rem 0.5rem;
}

td:last-child {
  padding: 0.6rem;
}

.center-text {
  text-align: center;
}

/*//// Media Queries ////*/
@media (min-width: 1200px) {
  .dashboard-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
  }

  #nav-toggler {
    display: none;
  }

  .side-menu {
    width: 360px;
    transform: translateX(0);
    margin: 0;
  }

  .main {
    width: 700px;
    margin-top: 0;
    transform: translatey(0);
  }

  .main-area-general {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .main-area-general-top {
    display: flex;
    justify-content: space-between;
  }

  .team-box {
    width: 250px;
  }

  .dishes-box {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .dishes-details ul {
    columns: 1;
  }

  .dashboard.container {
    padding: 0 1rem;
  }

  .box br {
    display: initial;
  }

  form,
  .form-row input,
  .checkbox-wrapper {
    width: 100%;
  }

  table {
    font-size: 1rem;
  }

  table i {
    margin-right: 0;
  }
}
